<div>
<h1>Product List</h1>

<div>
  <h2>Hi {{user.name}}!</h2>
  <p>You email is {{user.email}}</p>
  <p>You are {{user.age}} old</p>
  <p>
    <a href="/users/{{user.id}}/upload">Upload your files</a>
  </p>
  <button id="logoutButton">Logout</button>
</div>


  <!-- Product Grid -->
  <div class="container">
    <div class="products">
      {{#each productArray}}
      <div  id="{{_id}}" class="product-card">
        {{#each thumbnails}}
        <img src="{{this.reference}}" alt="{{ title }}" class="product-image">
        {{/each}}
        <div class="product-title">{{ title }}</div>
        <div class="product-price">${{ price }}</div>
        <label>quantity: </label>
        <input type="number">
        <button class="add-button" onclick="addToCart('{{_id}}')">Add to Cart</button>
      </div>
      {{/each}}
    </div>
  </div>


<div class="page-buttons">
  {{#if hasPrevPage}}
  <a href="{{prevLink}}">Anterior</a>
  {{/if}}
  {{#if hasNextPage}}
  <a href="{{nextLink}}">Siguiente</a>
  {{/if}}
</div>


<div id="cart">
</div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/indexProducts.js"></script>